flows.json
[{"id":"2316f94f.2760c6","type":"tab","label":"Flow 2"},{"id":"240bb46e.4c828c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"23a16a23.0592e6","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"ecf5667c.89dd88","type":"ui_tab","z":"","name":"ADLINK SEMA","icon":"dashboard","order":1},{"id":"91b9d4a7.9bae88","type":"ui_group","z":"","name":"Group 1","tab":"ecf5667c.89dd88","order":2,"disp":false,"width":"6"},{"id":"38fd5af6.3b76e6","type":"mqtt-broker","z":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e024a14c.518ec","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"dc253ce0.c296e","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7be0fbcd.c569a4","type":"ui_group","z":"","name":"Boardinfo","tab":"","order":1,"disp":false,"width":"6"},{"id":"8bde05ce.41d338","type":"ui_group","z":"","name":"boardvalue","tab":"","order":2,"disp":true,"width":"6"},{"id":"7093e28.e55771c","type":"ui_group","z":"","name":"Memory","tab":"","order":3,"disp":true,"width":"6"},{"id":"738fc2e1.0c52fc","type":"ui_group","z":"","name":"Group 2","tab":"ecf5667c.89dd88","order":3,"disp":false,"width":"6"},{"id":"a45021e1.8cc8a","type":"ui_group","z":"","name":"Group 3","tab":"ecf5667c.89dd88","order":4,"disp":false,"width":"6"},{"id":"651e5a1b.a56874","type":"ui_group","z":"","name":"GX","tab":"ecf5667c.89dd88","order":1,"disp":false,"width":"6"},{"id":"31ad6ffb.57826","type":"mqtt in","z":"2316f94f.2760c6","name":"","topic":"SEMA","qos":"2","broker":"38fd5af6.3b76e6","x":290,"y":500,"wires":[["d9f0a973.a1e088"]]},{"id":"d9f0a973.a1e088","type":"json","z":"2316f94f.2760c6","name":"","pretty":"false","x":450,"y":500,"wires":[["62d85175.00531","4f9d7865.6960b8","2f85af72.30bff","970b4b9a.c604d8","701c32ff.299bbc","64575050.aa25f","3eb3018e.d0997e","ca57be3c.2c9e2","b8476472.183ed8","dfdbed31.c126","8a542cad.9bbba","34c472b3.34454e","e0a455b1.95fc98"]]},{"id":"62d85175.00531","type":"ui_text","z":"2316f94f.2760c6","group":"91b9d4a7.9bae88","order":1,"width":0,"height":0,"name":"","label":"Board: ","format":"{{msg.payload.Board_Name}}","layout":"row-left","x":490,"y":220,"wires":[]},{"id":"4f9d7865.6960b8","type":"ui_text","z":"2316f94f.2760c6","group":"91b9d4a7.9bae88","order":2,"width":0,"height":0,"name":"","label":"BIOS Version:","format":"{{msg.payload.BIOS_Revision}}","layout":"row-left","x":660,"y":220,"wires":[]},{"id":"2f85af72.30bff","type":"function","z":"2316f94f.2760c6","name":"temperature","func":"var a = msg.payload.CPU_Temp\n\nmsg.payload = Math.round((a/10) -273.15);\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["cc6985de.152f38","f46b909a.f544c"]]},{"id":"cc6985de.152f38","type":"ui_text","z":"2316f94f.2760c6","group":"738fc2e1.0c52fc","order":2,"width":0,"height":0,"name":"","label":"CPU Temp","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":240,"wires":[]},{"id":"f46b909a.f544c","type":"ui_chart","z":"2316f94f.2760c6","name":"","group":"738fc2e1.0c52fc","order":1,"width":0,"height":0,"label":"CPU Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":930,"y":280,"wires":[[],[]]},{"id":"970b4b9a.c604d8","type":"function","z":"2316f94f.2760c6","name":"temperature","func":"var a = msg.payload.System_Temp\n\nmsg.payload =  Math.round((a/10) -273.15);\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["ab082184.1fb64","97cd28fa.539658"]]},{"id":"ab082184.1fb64","type":"ui_text","z":"2316f94f.2760c6","group":"738fc2e1.0c52fc","order":3,"width":0,"height":0,"name":"","label":"System Temp","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":320,"wires":[]},{"id":"97cd28fa.539658","type":"ui_chart","z":"2316f94f.2760c6","name":"","group":"738fc2e1.0c52fc","order":4,"width":0,"height":0,"label":"System Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":940,"y":360,"wires":[[],[]]},{"id":"701c32ff.299bbc","type":"function","z":"2316f94f.2760c6","name":"normalize","func":"var a = msg.payload.CPU_Core_Voltage\n\nmsg.payload = a /1000\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":340,"wires":[["ed53dfd9.f7a24","7ba95c02.1a27b4"]]},{"id":"ed53dfd9.f7a24","type":"ui_text","z":"2316f94f.2760c6","group":"738fc2e1.0c52fc","order":6,"width":0,"height":0,"name":"","label":"CPU Core Voltage","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":400,"wires":[]},{"id":"7ba95c02.1a27b4","type":"ui_chart","z":"2316f94f.2760c6","name":"","group":"738fc2e1.0c52fc","order":5,"width":0,"height":0,"label":"CPU Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"1.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":930,"y":440,"wires":[[],[]]},{"id":"64575050.aa25f","type":"ui_text","z":"2316f94f.2760c6","group":"91b9d4a7.9bae88","order":6,"width":0,"height":0,"name":"","label":"CPU FAN:","format":"{{msg.payload.CPU_Fan}}","layout":"row-left","x":690,"y":400,"wires":[]},{"id":"500de110.f7a58","type":"ui_chart","z":"2316f94f.2760c6","name":"","group":"91b9d4a7.9bae88","order":7,"width":0,"height":0,"label":"FAN Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"6000+","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":930,"y":480,"wires":[[],[]]},{"id":"3eb3018e.d0997e","type":"function","z":"2316f94f.2760c6","name":"temperature","func":"var a = msg.payload.CPU_Fan\n\nmsg.payload = a \n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["500de110.f7a58"]]},{"id":"ca57be3c.2c9e2","type":"ui_text","z":"2316f94f.2760c6","group":"91b9d4a7.9bae88","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload.CPU_Info}}","layout":"row-left","x":910,"y":520,"wires":[]},{"id":"b8476472.183ed8","type":"ui_text","z":"2316f94f.2760c6","group":"91b9d4a7.9bae88","order":4,"width":0,"height":0,"name":"","label":"Number of CPU:","format":"{{msg.payload.Number_of_CPUs}}","layout":"row-left","x":950,"y":560,"wires":[]},{"id":"dfdbed31.c126","type":"ui_text","z":"2316f94f.2760c6","group":"91b9d4a7.9bae88","order":5,"width":0,"height":0,"name":"","label":"Number of cores of each CPU:","format":"{{msg.payload.Number_of_cores}}","layout":"row-left","x":990,"y":600,"wires":[]},{"id":"8a542cad.9bbba","type":"ui_text","z":"2316f94f.2760c6","group":"a45021e1.8cc8a","order":2,"width":0,"height":0,"name":"","label":"Memory Frequency:","format":"{{msg.payload.memory_frequency}}","layout":"row-left","x":960,"y":640,"wires":[]},{"id":"34c472b3.34454e","type":"ui_text","z":"2316f94f.2760c6","group":"a45021e1.8cc8a","order":2,"width":0,"height":0,"name":"","label":"Total Size:","format":"{{msg.payload.total_size}}","layout":"row-left","x":930,"y":680,"wires":[]},{"id":"e0a455b1.95fc98","type":"ui_text","z":"2316f94f.2760c6","group":"a45021e1.8cc8a","order":2,"width":0,"height":0,"name":"","label":"Free Memory:","format":"{{msg.payload.free_memory}}","layout":"row-left","x":940,"y":720,"wires":[]}]